@tailwind base;
@tailwind components;
@tailwind utilities;

/* Seguridad de Impresión: Ocultar el formulario por defecto si intentan imprimir (Ctrl+P) */
@media print {
  body:not(.pago-aprobado) .print-reset {
    display: none !important;
  }
  
  /* Ocultar botones de la interfaz al imprimir */
  .print-hidden {
    display: none !important;
  }

  .print-reset {
    box-shadow: none !important;
    margin: 0 !important;
    padding: 0 !important;
    max-width: none !important;
    width: 100% !important;
  }
  
  @page {
      margin: 0.8cm;
  }
}